/docker/
/docker_mir/

/logs/
/json_gt/
/runs/

__pycache__/
/utils/wandb_logging/__pycache__
my_link
selecting_best_model_robustly.ipynb
*.
*cache
.cache/matplotlib/fontlist-v330.json
.bash_history
*.conda
*.cache
*.ssh
*.ipynb
*.ipython
.vscode/*
*yolov_modules_to_select.yaml